@keyframes fade{

    from{

        opacity:0;

        transform:translateY(20px);
    }

    to{

        opacity:1;

        transform:translateY(0);
    }
}

@media(max-width:768px){

    .navbar{

        flex-direction:column;

        gap:20px;
    }

    .hero h2{

        font-size:35px;
    }

    .cards,
    .sobre,
    .nomes-container{

        flex-direction:column;

        align-items:center;
    }

    .sobre .card,
    .nome-card{

        width:90%;
    }
}

/* Uso em Celular */

@media(max-width:768px){

    .navbar{

        flex-direction:column;

        gap:20px;

        padding:20px;
    }

    .menu{

        flex-direction:column;

        align-items:center;

        width:100%;
    }

    .hero{

        height:auto;

        padding:80px 20px;
    }

    .hero h2{

        font-size:35px;

        line-height:1.2;
    }

    .hero p{

        font-size:16px;
    }

    .cards{

        flex-direction:column;

        align-items:center;

        padding:40px 20px;
    }

    .card{

        width:100%;
    }

    .sobre{

        flex-direction:column;

        align-items:center;

        padding:40px 20px;
    }

    .sobre .card{

        width:100%;
    }

    .nomes-container{

        flex-direction:column;

        align-items:center;
    }

    .nome-card{

        width:100%;
    }

    .faq{

        padding:30px 20px;
    }

    .contato{

        padding:40px 20px;
    }

    .contato-card{

        width:100%;
    }

    input,
    textarea{

        width:100%;
    }

    .btn{

        width:100%;

        text-align:center;
    }

    footer{

        padding:20px;
    }
}

/* LINKS SOCIAIS */

.social-links{

    display:flex;

    justify-content:center;

    gap:10px;

    margin-top:20px;
}

.social-links a{

    text-decoration:none;

    color:white;

    padding:10px 15px;

    border-radius:10px;

    font-size:14px;

    transition:0.3s;

    background:
    linear-gradient(
        90deg,
        #22c55e,
        #3b82f6
    );
}

.social-links a:hover{

    transform:
    translateY(-3px)
    scale(1.05);

    box-shadow:
    0 0 15px rgba(59,130,246,0.5);
}

/* EMAIL CONTATO */

.email-info{

    margin-bottom:25px;

    padding:15px;

    border-radius:12px;

    background:rgba(255,255,255,0.08);

    color:#22c55e;

    font-weight:bold;

    text-align:center;

    box-shadow:
    0 0 10px rgba(34,197,94,0.2);
}