/* ===== TOP BAR ===== */

.top-bar{

    padding:20px;
}

/* ===== BOTÃO ===== */

.exit-btn{

    text-decoration:none;

    color:white;

    background:
    linear-gradient(
        90deg,
        #ef4444,
        #dc2626
    );

    padding:12px 20px;

    border-radius:12px;

    font-weight:bold;

    transition:0.3s;

    box-shadow:
    0 0 10px rgba(239,68,68,0.4);
}

/* HOVER */

.exit-btn:hover{

    transform:
    translateY(-3px)
    scale(1.03);

    box-shadow:
    0 0 20px rgba(239,68,68,0.7);
}