.faq{

    padding:50px 20px;
}

.faq h2{

    margin-bottom:30px;
}

.faq-item{

    margin-bottom:20px;
}

.faq-question{

    width:100%;

    padding:20px;

    border:none;

    border-radius:10px;

    background:rgba(255,255,255,0.08);

    color:white;

    text-align:left;

    cursor:pointer;
}

.faq-answer{

    display:none;

    padding:20px;

    margin-top:10px;

    border-radius:10px;

    background:rgba(255,255,255,0.03);
}

.show{

    display:block;
}

.contato{

    display:flex;

    justify-content:center;

    align-items:center;

    padding:80px 20px;
}

.contato-card{

    width:500px;
}

form{

    display:flex;

    flex-direction:column;

    gap:20px;

    margin-top:20px;
}

input,
textarea{

    padding:15px;

    border:none;

    border-radius:10px;

    background:rgba(255,255,255,0.08);

    color:white;
}

textarea{

    height:120px;

    resize:none;
}

footer{

    text-align:center;

    padding:30px;

    margin-top:50px;

    background:rgba(255,255,255,0.05);
}

.dark{

    background:white;

    color:black;
}