.input-area{

    display:flex;

    gap:10px;
}

input{

    flex:1;

    padding:15px;

    border:none;

    border-radius:10px;

    outline:none;

    background:#1e293b;

    color:white;
}

button{

    padding:15px;

    border:none;

    border-radius:10px;

    background:#22c55e;

    color:white;

    cursor:pointer;

    transition:0.3s;
}

button:hover{

    transform:scale(1.05);
}

.top-bar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;
}

.exit-btn{

    text-decoration:none;

    color:white;

    background:
    linear-gradient(
        90deg,
        #ef4444,
        #dc2626
    );

    padding:12px 20px;

    border-radius:12px;

    font-weight:bold;

    transition:0.3s;

    box-shadow:
    0 0 10px rgba(239,68,68,0.4);
}

.exit-btn:hover{

    transform:
    translateY(-3px)
    scale(1.03);

    box-shadow:
    0 0 20px rgba(239,68,68,0.7);
}

.exit-btn:active{

    transform:scale(0.97);
}