@media(max-width:768px){

    .dashboard{

        flex-direction:column;
    }
}

/* Compatibilidade com celular */

@media(max-width:768px){

    .chat-container{

        width:95%;

        margin:20px auto;

        padding:15px;
    }

    #chat{

        height:350px;
    }

    .input-area{

        flex-direction:column;
    }

    input{

        width:100%;
    }

    button{

        width:100%;
    }

    .bot,
    .user{

        max-width:100%;
    }

    .top-bar{

        flex-direction:column;

        gap:10px;
    }

    .exit-btn{

        width:100%;

        text-align:center;
    }
}