#chat::-webkit-scrollbar{
    width:8px;
}

#chat::-webkit-scrollbar-track{
    background:transparent;
}

#chat::-webkit-scrollbar-thumb{
    background:#22c55e;

    border-radius:10px;
}

/* Compatibilidade mobile */

@media(max-width:768px){

    .chat-container{

        width:95%;

        margin:20px auto;

        padding:15px;
    }

    #chat{

        height:350px;
    }

    .input-area{

        flex-direction:column;
    }

    input{

        width:100%;
    }

    button{

        width:100%;
    }

    .bot,
    .user{

        max-width:100%;
    }

    .top-bar{

        flex-direction:column;

        gap:10px;
    }

    .exit-btn{

        width:100%;

        text-align:center;
    }
}