*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:
    linear-gradient(
        135deg,
        #0f172a,
        #111827,
        #0b1120
    );

    color:white;

    font-family:Arial, sans-serif;

    min-height:100vh;
}
